* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.contactos {
    display: flex;
    flex-direction: column;
    width: 350px; 
    height: 100vh;
}

/* menu de contactos */

.navigations {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border: 1px solid #BEC1BB;
    height: 3.5vh;
}

.text-maria {
    display: flex;
    align-items: center;
}

.text-maria img {
    width: 45px;
    border-radius: 100%;
}

.text-maria p {
    padding-left: 0.7em;
}

.parrafo1-maria {
    margin-left: 0.15em;
}

.parrafo2-maria {
    color: #BEC1BB;
    font-size: 12px
}

.icons-maria {
    display: flex;
    align-items: center;
}

.icons-maria i {
    padding: 0.5em;
    font-size: 1.1em;
    color: #828485;
}

.fa-solid {
    margin-bottom: 0.2em;
}

/* Boton nuevo chat */

.boton-contactos {
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BEC1BB;
}

.boton-contactos a {
    text-decoration: none;
    padding: 0.8em 3em;
    color: white;
    background-color: #A491D2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.boton-contactos a:hover {
    background-color: #cdc3e6;
}

.boton-contactos a:focus {
    background-color: #bec1bb;
}

/* lista de chats */

.chat-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.58em 2em;
    border: 1px solid #BEC1BB;
    height: 7.5vh;
}

.chat-list img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.chat-text {
    font-size: 16px;
}

.chat-text1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;    
}

/* esta parte es el main */

.page {
    display: flex;
}

.empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e8ebe4;
}

.empresa img {
    width: 300px;
}

.titulo {
    font-size: 45px;
    padding-top: 0.7em;
}


